/*@font-face {
    font-family: 'Bagnard';
    src: url('fonts/Bagnard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

[draggable=true] {
  -khtml-user-drag: element;
}

html, body{
  margin:0;
  padding:0;
  font-size:12px;
  font-family:monospace;
  width:100%;
  height:100%;
}

h1, h2, h3, h4, h5, h6{
  font-weight:normal;
  margin:0;
  padding:0;

}
ul, li{
  margin:0;
  padding:0;
  list-style: none;
}

section, div, aside{
  box-sizing: border-box;
}

.handle{
  width:100%;
  background:#CCC;
  height:10px;
  cursor:move;
}

input[type="button"], select{
  background:white;
  border:1px solid black;

}
input[type="button"].active{
  background:#CCC;

}
input[type="range"]{
  width:100%;
}
div#cursor{
  position:absolute;
  width:10px;
  height:10px;
  background:black;
  display:none;
  pointer-events: none;
}
div#cursor[data-mode="new-segment"]{
  background:#CCC;
}

div#projection{
  position:absolute;
  border:2px dotted black;
  z-index:1000;
  display:none;
}
section#ui aside.pannel{
  position:absolute;
  top:0;
  width:200px;
  left:-200px;
  border:2px solid #CCC;
  background:#FFF;
  display:none;
  top:10px;
}
section#ui aside.pannel input{
  margin:1px;
}
section#ui{
  position:absolute;
  width:300px;
  left:calc(100% - 310px);
  top:10px;
  border:2px solid #CCC;
  background:#FFF;
  z-index:1;
}
section#ui:hover{
  z-index:10;
}
section#ui div{
  margin-bottom:5px;
}
section#ui label{
  margin:5px 0;
  display:block;
}

section#ui div.content{
  padding:5px;
}

section#ui header{
  margin-bottom:5px;
}
section#ui > div > div{
  border-bottom:1px solid #CCC;

  padding:5px 0;
}
section#ui > div > div.disabled{
  display:none;
}
section#ui > div > div:last-child{
  border:none;
}

section#workbench{

  padding:10px;
  background:#EEE;
  position:relative;
}

section#workbench .page{
  background:#FFF;
  position:relative;
  transform-origin:top left;
  z-index:1;
}
section#workbench .page:hover{
  z-index:10;
}
.page .segment.highlight, .page .segment.selected,
.page .surface.highlight, .page .surface.selected{
  background:rgba(255, 0, 0, 0.5);
  z-index:100;
}
.page .segment.related,
.page .surface.related{
  background:rgba(0, 255, 0, 0.5);
  z-index:100;
}
.page .segment{
  position:absolute;
  background:#000;
  z-index:10;
}
.page .segment.x{
  height:2mm;

}
.page .segment.y{
  width:2mm;

}

.page .surface{
  position:absolute;
  z-index:1;
}

@media print{
  section#ui{
    display:none;
  }
  section#workbench{
    background:#FFF;
  }
}
